* {
	all: unset;
}
$primary: #756000;
$surface: #1c170b;

.disk-widget {
	padding: 4px 6px;
	color: $primary;
	background-color: $surface;
	border: 1px solid $primary;
	border-radius: 4px;
	font-family: "Noto Sans", monospace;
	font-size: 12px;
}


.system-widget {
  padding: 10px 16px;
  background-color: $surface;
  border: 3px solid $primary;
}

.disk-widget {
  color: $primary;
  border: 3px solid $primary;
  background-color: $surface;
}

.proton-status {
  color: $primary;
  border: 3px solid $primary;
  background-color: $surface;
}

.ram-widget {
	color: $primary;
	border: 3px solid $primary;
	background-color: $surface;
}

.system-control {
	padding: 10px;
}

.system-id {
	margin-bottom: 4px;
}

.system-user {
	font-size: 16px;
	font-weight: bold;
}

.system-host {
	font-size: 12px;
	opacity: 0.65;
}

