@import url("../colors/shell.css");

window#waybar {
    color: @white;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: @white;
}
*/

window#waybar.termite {
    background-color: @terminal;
}

window#waybar.chromium {
    background-color: @black;
    border: none;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
/* button:hover {
    background: inherit;
    box-shadow: inset 0 -3px @white;
}*/

/* you can set a style on hover for any module like this
#pulseaudio:hover {
    background-color: @surface;
    color: @primary;
}*/

#workspaces button {
    padding: 4px;
    background-color: @secondary;
    color: @primary;
}

#workspaces button.empty {
    background-color: @surface;
    color: @primary;
}

#workspaces button:hover {
    background-color: alpha(@primary, 0.5);
}

#workspaces button.focused, #workspaces button.active {
    background-color: @primary;
    color: @surface;
}

#workspaces button.urgent {
    background-color: @alert;
}

#mode {
    box-shadow: inset 0 -3px @white;
}

#clock {
    color: @surface;
    background-color: @primary;
}

#bluetooth {
    background: @surface;
    color: inherit;
    padding: 0 3px;
    border: 3px solid @primary;
    border-right: 0px solid @surface;
}
/*
#bluetooth {
    color:@primary;
    background-color: @secondary;
}

#bluetooth.connected {
    color: @surface;
    background-color: @primary;
}

#bluetooth.disabled {
    color: @primary;
    background-color: @surface;
}
*/
#idle_inhibitor.activated {
	color: @surface;
	background-color: @primary;
}

#idle_inhibitor.deactivated {
	color: @primary;
	background-color: @surface;
}

#workspaces {
    margin: 0 0px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 1px;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#battery {
    background-color: @surface;
    color: @primary;
}

#battery.charging, #battery.plugged {
    color: @surface;
    background-color: @primary;
}

@keyframes blink {
    to {
        background-color: @alert;
        color: @surface;
    }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    background-color: @surface;
    color: @primary;
    animation-name: blink;
    animation-duration: 0.3s;
    animation-timing-function: steps(2);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#battery.warning:not(.charging) {
background-color: @alert;
color: @surface;
}



#custom-notifications {
    color: @surface;
    background-color: @primary;
    padding: 8px;
}

#custom-notifications.notification {
    color: @surface;
    background-color: @superior;
}

#custom-notifications.none {
    color: @surface;
    background-color: @primary;
}

#custom-notifications.dnd-notification {
    color: @primary;
    background-color: @surface;
}

#custom-notifications.dnd-none {
    color: @primary;
    background-color: @surface;
}

#sysdrawer,
#nfodrawer {
    color: @primary;
    background-color: @surface;
    border: 3px solid @superior;
}

/* normal toggle */
#custom-nfotoggle,
#custom-systoggle {
    padding: 0 4px;
    color: @primary;
    background-color: @surface;
    border: none;
}

/* expanded toggle */
#nfodrawer.expanded #custom-nfotoggle,
#sysdrawer.expanded #custom-systoggle {
    color: @surface;
    background-color: @primary;
    border: none;
}
#power-profiles-daemon {
    padding-right: 15px;
}

#power-profiles-daemon.performance {
    background-color: @danger;
    color: @white;
}

#power-profiles-daemon.balanced {
    background-color: @balanced;
    color: @white;
}

#power-profiles-daemon.power-saver {
    background-color: @success;
    color: @black;
}

label:focus {
    background-color: @black;
}

#cpu, #memory, #temperature {
    background-color: @surface;
    color: @primary;
    border: 0px;
}

#disk {
    background-color: @disk;
}

#backlight {
    background-color: @inactive;
}

#network.disconnected {
    background-color: @alert;
    color: @surface;
}

#network.disabled {
	color: @primary;
	background-color: @surface;
}

#network.ethernet,
#network.wifi {
	color: @surface;
	background-color: @primary;
}

#pulseaudio {
background-color: @primary;
color: @surface;
}

#pulseaudio.muted {
    background-color: @surface;
    color: @primary;
}

#custom-power {
background-color: @primary;
color: @surface;
}

#wireplumber {
    background-color: @primary;
    color: @surface;
    border-color: @surface;
}
#wireplumber.muted {
    background-color: @surface;
    color: @primary;
}

#custom-media {
    background-color: @media;
    color: @media_text;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: @media;
}

#custom-media.custom-vlc {
    background-color: @vlc;
}

#custom-hostname {
    background-color: @primary;
    padding: 4px;
    color: @surface;
    border: 3px solid @superior;
}

#temperature.critical {
    background-color: @alert;
}

#tray {
    background-color: @surface;
    color: @primary;
    border-top: 3px solid @primary;
    border-bottom: 3px solid @primary;

}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: @attention;
}

#mpd {
    background-color: @media;
    color: @media_text;
}

#mpd.disconnected {
    background-color: @danger;
}

#mpd.stopped {
    background-color: @inactive;
}

#mpd.paused {
    background-color: @paused;
}

#language {
    background: @language;
    color: @language_text;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state {
    background: @keyboard;
    color: @black;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
	background-color: transparent;
}

#privacy {
    padding: 0;
}

#privacy-item {
    padding: 0 5px;
    color: white;
}

#privacy-item.screenshare {
    background-color: @screenshare;
}

#privacy-item.audio-in {
    background-color: @audio_in;
}

#privacy-item.audio-out {
    background-color: @audio_out;
}
tooltip {
    background-color: @surface;
    border-width: 2px;
}
tooltip label {
    color: @primary;
}
