* {
  font-family: "Terminus (TTF)";
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 1px;
}
@import url("../colors/colors.css");
window#waybar {
    background-color: @surface;
    border: 3px solid @superior;
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
/* button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #ffffff;
}*/

/* you can set a style on hover for any module like this
#pulseaudio:hover {
    background-color: @surface;
    color: @primary;
}*/


#workspaces button {
    padding: 4px;
    background-color: @secondary;
    color: @primary;
    border: 3px solid @superior;
    }

#workspaces button.empty {
    background-color: @surface;
    color: @primary;
}

#workspaces button:hover {
    background-color: alpha(@primary, 0.5);
}

#workspaces button.focused, #workspaces button.active {
    background-color: @primary;
    color: @surface;
}

#workspaces button.urgent {
    background-color: @alert;
}

#mode {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}


#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#scratchpad,
#power-profiles-daemon,
#mpd {
    padding: 3px;
    color: @primary;
    border: 3px solid @superior;
	background-color: @surface;
}

#clock {
    padding: 3px;
    color: @surface;
    border: 3px solid @superior;
    background-color: @primary;
}

#bluetooth {
    padding: 3px;
    color:@primary;
    background-color: @secondary;
    border: 3px solid @superior;
}

#bluetooth.connected {
    color: @surface;
    background-color: @primary;
}

#bluetooth.disabled {
    color: @primary;
    background-color: @surface;
}


#idle_inhibitor {
border: 3px solid @superior;
	padding: 3px;
}

#idle_inhibitor.activated {
	color: @surface;
	background-color: @primary;
}

#idle_inhibitor.deactivated {
	color: @primary;
	background-color: @surface;
}

#workspaces {
    margin: 0 0px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 1px;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#battery {
    background-color: @surface;
    color: @primary;
}

#battery.charging, #battery.plugged {
    color: @surface;
    background-color: @primary;
}

@keyframes blink {
    to {
        background-color: @alert;
        color: @surface;
    }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    background-color: @surface;
    color: @primary;
    animation-name: blink;
    animation-duration: 0.3s;
    animation-timing-function: steps(2);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#battery.warning:not(.charging) {
background-color: @alert;
color: @surface;
}

#custom-notifications {
    color: @primary;
    background-color: @surface;
    padding: 8px;
    border: 3px solid @superior;
}

#power-profiles-daemon {
    padding-right: 15px;
}

#power-profiles-daemon.performance {
    background-color: #f53c3c;
    color: #ffffff;
}

#power-profiles-daemon.balanced {
    background-color: #2980b9;
    color: #ffffff;
}

#power-profiles-daemon.power-saver {
    background-color: #2ecc71;
    color: #000000;
}

label:focus {
    background-color: #000000;
}

#cpu {
    background-color: #2ecc71;
    color: #000000;
}

#memory {
    background-color: #9b59b6;
}

#disk {
    background-color: #964B00;
}

#backlight {
    background-color: #90b1b1;
}

#network {
border: 3px solid @superior;
}

#network.disconnected {
    background-color: @alert;
    color: @surface;
}

#network.disabled {
	color: @primary;
	background-color: @surface;
}

#network.ethernet,
#network.wifi {
	color: @surface;
	background-color: @primary;
}

#pulseaudio {
background-color: @primary;
color: @surface;
border: 3px solid @superior;
}

#pulseaudio.muted {
    background-color: @surface;
    color: @primary;
    border: 3px solid @superior;
}

#custom-power {
background-color: @primary;
color: @surface;
border: 3px solid @superior;
padding: 3px;
}

#wireplumber {
    background-color: @primary;
    color: @surface;
    border: 3px solid @surface;
}
#wireplumber.muted {
    background-color: @surface;
    color: @primary;
}

#custom-media {
    background-color: #66cc99;
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}

#custom-muthur {
    padding: 3px;
    background-color: @surface;
    color: @green;
    border: 3px solid @superior;
}

#temperature {
    background-color: #f0932b;
}

#temperature.critical {
    background-color: #eb4d4b;
}

#tray {
    background-color: @surface;
    color: @primary;
    border: 3px solid @primary;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#mpd {
    background-color: #66cc99;
    color: #2a5c45;
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}

#language {
    background: #00b093;
    color: #740864;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state {
    background: #97e1ad;
    color: #000000;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
	background-color: transparent;
}

#privacy {
    padding: 0;
}

#privacy-item {
    padding: 0 5px;
    color: white;
}

#privacy-item.screenshare {
    background-color: #cf5700;
}

#privacy-item.audio-in {
    background-color: #1ca000;
}

#privacy-item.audio-out {
    background-color: #0069d4;
}
tooltip {
    background-color: @surface;
    border: 2px solid @primary;
    border-radius: 0;
}
tooltip label {
    color: @primary;
}
